<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Another Snus Factory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.16/dist/css/uikit.min.css" />
<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.16/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.16/dist/js/uikit-icons.min.js"></script>
    <script src = "http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin = "anonymous"></script>
    <script type = text/javascript src = "{{
        url_for('static', filename = 'js/jquery.js') }}"></script>
        <script href="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <script src="{{ url_for('static', filename='js/form.js') }}"></script>
</head>
<body style="background-color: #F0F0F0; min-height: 100vh;">


<!--<div class="jumbotron text-center" style="height: 120px;background-image: url('{{url_for('static', filename='asf.png')}}');background-repeat: no-repeat;">--!>

<div class="uk-navbar-container uk-margin-bottom" data-uk-sticky>

	<div class="uk-container uk-container-expand">
		<nav class="uk-navbar">
			<div class="uk-navbar-left">
				<a href="/" class="uk-navbar-item">
					<img class="uk-animation-scale-up" style="max-height: 60px;" src="{{url_for('static', filename='asf.png')}}" />
				</a>
			</div>
			<div class="uk-navbar-right">
				<span class="uk-h2">
					e-Audit
				</span>
			</div>

		</nav>
	</div>
	</div>
<div class="uk-container">
{% if outlet == 0 %}
    <h1 class="uk-title uk-text-center">Du har kommet et sted du ikke burde være.</h1>
{% else %}
<h1 class="uk-title uk-text-center uk-animation-scale-up">{{outlet}}</h1>
    	<div class="uk-grid uk-child-width-1-4@m uk-child-width-1-2@s uk-text-center uk-grid-small" uk-grid uk-height-match="target: > div > .uk-card">
{% for audit in audits %}


<div>
<div class="uk-card uk-card-default uk-card-body uk-animation-scale-up" style="padding-top: 10px;padding-bottom:15px;"><form class="superform form-inline" id="form{{audit[3]}}">
    <div id="fade{{audit[3]}}" class="{{audit[3]}}"><div class="container-{{loop.index}}">&nbsp;</div>
<div class="uk-text-small uk-text-nowrap">{{audit[4]}}</div>
    <div><img class="uk-margin-small-bottom" src="{{ url_for('static', filename=audit[3])}}.png"></div>
          <div class="form-group">
          <input type="hidden" name="outletid" id="outlet{{audit[3]}}" value="{{outletid}}">
          <input type="hidden" name="period" value="{{period}}">
          <input type="hidden" name="sku" id="sku{{audit[3]}}" value="{{audit[3]}}">
            <label class="sr-only" for="instockyes">Er dette produktet på lager?</label>
          <label><input type="radio" name="instock" id="instockyes" class="uk-radio form-radio" value="yes" checked/>Ja</label>
          <label><input type="radio" name="instock" id="instockno" class="uk-radio form-radio" value="no" />Nei</label>
          </div>
          <div class="form-group">
            <label class="sr-only" for="onshelfyes">Er dette produktet på hyllen?</label>
          <label><input type="radio" name="onshelf" id="onshelfyes" class="uk-radio form-radio" value="yes" checked/>Ja</label>
          <label><input type="radio" name="onshelf" id="onshelfno" class="uk-radio form-radio"value="no" />Nei</label>
          </div><br><button type="submit" class="uk-button uk-button-primary uk-button-small btn btn-primary">Registrer</button></form><br>


    </div></div></div>

{% endfor %}

{% endif %}

</div>
</div>

</body>
</html>